
/************TABPANE************/

/* Label i flikarna */
.tab-pane.spaced-tabs .tab .label {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

/* Vald flik: ljus bakgrund, fet text */
.tab-pane.spaced-tabs .tab:selected {
    -fx-background-color: #f3f3f3;   /* färgen på själva fliken */
    -fx-border-color: #707070;
    -fx-border-width: 1 1 1 1;       /* kant */
}

.tab-pane.spaced-tabs .tab:selected .label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

/* Ta bort blå fokusram på vår TabPane */
.tab-pane.spaced-tabs:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*!* Extra säkerhet: om focus ligger på vald flik *!*/
/*.tab-pane.spaced-tabs .tab:selected:focused {*/
/*    -fx-focus-color: transparent;*/
/*    -fx-faint-focus-color: transparent;*/
/*}*/




















/*.tab-pane {*/
/*    -fx-border-color: red;*/
/*    -fx-border-width: 3;*/
/*}*/

/*!* Mellanrum mellan flikarna: gäller TabPane med styleclass 'spaced-tabs' *!*/
/*.tab-pane.spaced-tabs > .tab-header-area > .headers-region > .tab {*/
/*    !* top  right bottom left *!*/
/*    -fx-padding: 0 0 0 0;*/
/*}*/

/*.tab-pane.*/

/*!* Centrera texten inne i varje flik *!*/
/*.tab-pane.spaced-tabs > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {*/
/*    -fx-alignment: CENTER;*/
/*}*/
